<?xml version="1.0" encoding="utf-8"?>
<integrationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.4.8621.0" endpoint="[sf-scrt-rslvr=Encrypt]053Z+cw20L7Si3AnIGeK5z6jV8BEvaeYICE7WJO9mTXbnXfrGE+e/VatLIXdTxlABFnLaoKo5eKAWXaKt4UnteZKsF+TQhQp5ia2F6sbrDHC8C5TNPmABn+SQdSiRxvCYXkbiFvS8hfJQLcIKAGwvEFlc1dpdGhIbWFjFuJW8EctjkXLwH7HvZT1CD+FH0UDJaUfk0snyFJigWo=" isActive="False" />