<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.4.8621.0">
	<cultures>
		<add culture="en" uiCulture="en" key="english-en" />
		<add culture="es-419" uiCulture="es-419" key="spanish (latin america)-es-419" />
	</cultures>
</resourcesConfig>