<?xml version="1.0" encoding="utf-8"?>
<translationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.4.8621.0">
	<strategies>
		<add itemType="SitefinityWebApp.Mvc.Controllers.FlightDataController" type:this="Telerik.Sitefinity.Translations.Configuration.ControlTypeTranslationSettings, Telerik.Sitefinity.Translations" />
	</strategies>
</translationsConfig>