<?xml version="1.0" encoding="utf-8"?>
<webSecurityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.4.8621.0">
	<redirectValidation trustedLocations="http://localhost:1969, http://localhost:5000" />
</webSecurityConfig>