<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.4.8621.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add name="Featured Articles" access="Anonymous" urlName="featured-articles">
					<types>
						<add urlName="newsitems" clrType="Telerik.Sitefinity.News.Model.NewsItem" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings>
								<remove Name="LastModified" />
								<remove Name="Provider" />
								<remove Name="PublicationDate" />
								<remove Name="DateCreated" />
								<remove Name="IncludeInSitemap" />
								<remove Name="SystemSourceKey" />
								<remove Name="UrlName" />
								<remove Name="ItemDefaultUrl" />
								<remove Name="Tags" />
								<remove Name="NewsImage" />
								<remove Name="topics" />
								<remove Name="Category" />
								<remove Name="AllowComments" />
								<remove Name="Comments" />
								<remove Name="Summary" />
								<remove Name="SourceName" />
								<remove Name="SourceSite" />
								<add PersistentName="ItemDefaultUrl" AllowSort="False" ReadOnly="True" Name="ItemDefaultUrl" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add ResolverType="Telerik.Sitefinity.Web.Services.Contracts.RelatedDataPropertyResolver" Name="NewsImage" type:this="Telerik.Sitefinity.Web.Api.Configuration.NavigationPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="Summary" Name="Summary" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
							</propertyMappings>
							<methods>
								<add QueryString="$select=Id,Title,Content,ItemDefaultUrl,Summary&amp;$expand=NewsImage($select=Id,Url,ThumbnailUrl)" Name="featured-article-and-image" />
							</methods>
						</add>
						<add urlName="images" clrType="Telerik.Sitefinity.Libraries.Model.Image" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>