@model List<Telerik.Sitefinity.News.Model.NewsItem>
    @using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div>
    <ul class="list-unstyled row news-list-page" >
        @foreach (var i in Model)
            {
                <li class="col-md-4">
                    <h2>@i.Title</h2>
                    <span class="text-muter">@i.PublicationDate.ToLongDateString()
                    </span>
                    <p>@Html.HtmlSanitize(i.Summary)</p>
                </li>
            }
    </ul>
</div>
